body
{
    background-image: url(background.jpg);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.booking-form-box{
    max-width: 400px;
    border: 1px solid black;
    margin:10% auto 0;
    background-color: #b2b2b2;
    background-color: rgba(0, 0, 0, .3);
}
.radio-btn{
    margin: 0 20px;
}
.radio-btn .btn{
    margin: 20px 10px 20px 0;
    box-shadow: none
}
.radio-btn span{
    color: #fff;
    margin-right: 20px;
}
.booking-form{

    padding: 0px 15px 15px;
}
.booking-form label{
    color: #fff;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size:12px; 
}
.input-grp{
    width: 151px;
    display: inline-block;
}
.form-control{
    font-size: 12px;
    border-radius: 2px;
    
}
