    .form {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 550px;
        border: 2px solid black;
        padding: 50px;
        margin: 20px;
 	background-image: url("https://s3.scoopwhoop.com/anj/sw/cc3b2855-1838-467d-bd80-470da81f1581.jpg");
    }

