body {
  background-image: url(../images/dashboard.jpg);
}
table th, td {
    text-align: center;
}
.content-section {
  margin: 6% auto 0;
  background-color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
